@model study4_be.Models.Lesson

<h4>Delete Lesson</h4>
<hr />
<div class="card-body">
    <p>Are you sure you want to delete this?</p>
    <div>
        <h4>@Model.LessonId</h4>
        <h4>@Model.LessonTitle</h4>
        <h4>@Model.LessonType</h4>
    </div>
    <form asp-action="Lesson_Delete">
        <input type="hidden" asp-for="LessonId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        @Html.ActionLink("Cancel", "Lesson_List", null, new { @class = "btn btn-light" })
    </form>
    <div asp-validation-summary="All" class="text-danger"></div>
</div>