@model study4_be.Models.Course

<style>
    .flex {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
</style>

<div class="form-horizontal">
    <h4>Course</h4>
    <hr />
    <div class="card-body">
        <p class="card-description">Edit</p>
        <form asp-action="Course_Edit" method="post" enctype="multipart/form-data" class="forms-sample">
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label for="CourseName">Name</label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CourseDescription">Description</label>
                <input asp-for="CourseDescription" class="form-control" />
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CoursePrice">Price</label>
                <input asp-for="CoursePrice" class="form-control" />
                <span asp-validation-for="CoursePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CourseTag">Tag</label>
                <input asp-for="CourseTag" class="form-control" />
                <span asp-validation-for="CourseTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>File upload</label>
                <img src="@Model.CourseImage" height="150" width="150" id="previewImg" />
                <input asp-for="CourseImage" type="file" name="CourseImage" onchange="ChangeImage(this, document.getElementById('previewImg'))" />
            </div>
            <div class="flex">
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                @Html.ActionLink("Cancel", "Course_List", "Courses", null, new { @class = "btn btn-light" })
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>

<script>
    function ChangeImage(input, previewImg) {
        var reader = new FileReader();
        reader.onload = function (e) {
            previewImg.src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
    }
</script>
