@model study4_be.Models.ViewModel.QuestionExamEditViewModel
<style>
    .flex {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
</style>


<div class="form-horizontal">
    <h4>Question</h4>
    <hr />
    <div class="card-body">
        <p class="card-description"> Edit</p>
        <form asp-action="Question_Exam_Edit" method="post" enctype="multipart/form-data" class="forms-sample">
            <input type="hidden" asp-for="question.QuestionId" />
            <div class="form-group">
                <label for="question.QuestionText">QuestionText</label>
                <input asp-for="question.QuestionText" class="form-control" />
                <span asp-validation-for="question.QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="QuestionParagraph">QuestionParagraph</label>
                <input asp-for="question.QuestionParagraph" class="form-control" />
                <span asp-validation-for="question.QuestionParagraph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="OptionA">OptionA</label>
                <input asp-for="question.OptionA" class="form-control" />
                <span asp-validation-for="question.OptionA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="OptionB">OptionB</label>
                <input asp-for="question.OptionB" class="form-control" />
                <span asp-validation-for="question.OptionB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="OptionC">OptionC</label>
                <input asp-for="question.OptionC" class="form-control" />
                <span asp-validation-for="question.OptionC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="OptionD">OptionD</label>
                <input asp-for="question.OptionD" class="form-control" />
                <span asp-validation-for="question.OptionD" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="CorrectAnswer">Select Answer:</label>
                <select asp-for="question.CorrectAnswer" class="form-control">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
                <span asp-validation-for="question.CorrectAnswer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="QuestionTag">Select Part:</label>
                <select asp-for="question.QuestionTag" class="form-control">
                    <option value="Part 1">Part 1</option>
                    <option value="Part 2">Part 2</option>
                    <option value="Part 3">Part 3</option>
                    <option value="Part 4">Part 4</option>
                    <option value="Part 5">Part 5</option>
                    <option value="Part 6">Part 6</option>
                    <option value="Part 7">Part 7</option>
                </select>
                <span asp-validation-for="question.QuestionTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="question.QuestionImage">File upload</label>
                <img src="question.QuestionImage" height="150" width="150" id="previewImg" alt="Question-Exam-Img" />
                <input asp-for="question.QuestionImage" type="file" name="QuestionImage" onchange="ChangeImage(this, document.getElementById('previewImg'))" />
            </div>
            <div class="form-group">
                <label for="question.ExamId">Exam</label>
                <select asp-for="question.ExamId" class="form-control" asp-items="Model.exam"></select>
                <span asp-validation-for="question.ExamId" class="text-danger"></span>
            </div>
            <div class="flex">
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                @Html.ActionLink("Cancel", "Question_Exam_List", "Question_Exam", null, new { @class = "btn btn-light" })
            </div>
        </form>
    </div>
</div>

<script>
    function ChangeImage(input, previewImg) {
        var reader = new FileReader();
        reader.onload = function (e) {
            previewImg.src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
    }
</script>
