@model study4_be.Models.ViewModel.QuestionExamCreateViewModel
<style>
    .flex {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
</style>

<h2>Question Exam Create</h2>

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-body">
            <p class="card-description">Create </p>
            <form asp-action="Question_Exam_Create" method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label for="question.QuestionText">QuestionText</label>
                    <input asp-for="question.QuestionText" class="form-control" />
                    <span asp-validation-for="question.QuestionText" class="text-danger"></span>
                </div>  
                <div class="form-group">
                    <label for="question.QuestionParagraph">Question Paragraph</label>
                    <input asp-for="question.QuestionParagraph" class="form-control" />
                    <span asp-validation-for="question.QuestionParagraph" class="text-danger"></span>
                </div>   
                <div class="form-group">
                    <label for="question.OptionA">OptionA</label>
                    <input asp-for="question.OptionA" class="form-control" />
                    <span asp-validation-for="question.OptionA" class="text-danger"></span>
                </div>
              
                <div class="form-group">
                    <label for="question.OptionB">Option B</label>
                    <input asp-for="question.OptionB" class="form-control" />
                    <span asp-validation-for="question.OptionB" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                    <label for="question.OptionC">OptionC</label>
                    <input asp-for="question.OptionC" class="form-control" />
                    <span asp-validation-for="question.OptionC" class="text-danger"></span>
                </div> 
               
                <div class="form-group">
                    <label for="question.OptionD">OptionD</label>
                    <input asp-for="question.OptionD" class="form-control" />
                    <span asp-validation-for="question.OptionD" class="text-danger"></span>
                </div> 
                <div class="form-group">
                    <label for="selectedCorrect">Select Answer:</label>
                    <select id="selectedCorrect" name="selectedCorrect" class="form-control">
                        <option value="A" selected="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
               </div>

                <div class="form-group">
                    <label for="question.ExamId">Exam</label>
                    <select asp-for="question.ExamId" class="form-control" asp-items="Model.exam"></select>
                    <span asp-validation-for="question.ExamId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="partSelection">Select Part:</label>
                    <select id="partSelection" name="selectedPart" class="form-control">
                        <option value="Part 1" selected="Part 1">Part 1</option>
                        <option value="Part 2">Part 2</option>
                        <option value="Part 3">Part 3</option>
                        <option value="Part 4">Part 4</option>
                        <option value="Part 5">Part 5</option>
                        <option value="Part 6">Part 6</option>
                        <option value="Part 7">Part 7</option>
                        <option value="Part 8">Part 8</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="question.QuestionImage">File upload</label>
                    <img src="https://thesavvyimg.co.uk/wp-content/uploads/2022/08/the-savvy-img-online-courses-masterclass-shortcut-plab-gmc-registration.png" height="150" width="150" id="previewImg" />
                    <input asp-for="question.QuestionImage" type="file" name="QuestionImage" onchange="ChangeImage(this, document.getElementById('previewImg'))" />
                </div>
                <div class="flex">
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    @Html.ActionLink("Cancel", "Question_Exam_List", "Question_Exam", null, new { @class = "btn btn-light" })
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function ChangeImage(UploadImage, previewImg) {
        if (UploadImage.files && UploadImage.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('previewImg').setAttribute('src', e.target.result);
            }
            reader.readAsDataURL(UploadImage.files[0])
        }
    }
</script>
