@model study4_be.Models.ViewModel.StaffCreateViewModel

@{
    ViewData["Title"] = "Staff Create";
}

<h2>Staff Create</h2>

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-body">
            <p class="card-description">Create</p>
            <form asp-action="Staff_Create" method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label asp-for="Staffs.StaffName">StaffName</label>
                    <input asp-for="Staffs.StaffName" class="form-control" />
                    <span asp-validation-for="Staffs.StaffName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Staffs.StaffType">StaffType</label>
                    <input asp-for="Staffs.StaffType" class="form-control" />
                    <span asp-validation-for="Staffs.StaffType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Staffs.StaffEmail">StaffEmail</label>
                    <input asp-for="Staffs.StaffEmail" class="form-control" />
                    <span asp-validation-for="Staffs.StaffEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Staffs.StaffCmnd">StaffCmnd</label>
                    <input asp-for="Staffs.StaffCmnd" class="form-control" />
                    <span asp-validation-for="Staffs.StaffCmnd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Staffs.DepartmentId">DepartmentId</label>
                    <select asp-for="Staffs.DepartmentId" class="form-control" asp-items="Model.Departments"></select>
                    <span asp-validation-for="Staffs.DepartmentId" class="text-danger"></span>
                </div>
                <div class="flex">
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    @Html.ActionLink("Cancel", "Staff_List", "Staff", null, new { @class = "btn btn-light" })
                </div>
            </form>
        </div>
    </div>
</div>
